aiohttp
async-timeout
attrs
beautifulsoup4
html5lib
convertapi
bs4
certifi
chardet
click
Flask
googlesearch-python
html-text
idna
insta-scrape
instasave
itsdangerous
Jinja2
loguru
lxml
MarkupSafe
multidict
pyinsta3
pytz
requests
soupsieve
tqdm
urllib3
Werkzeug
xmltodict
yarl
Pillow
pytesseract
Cython
